.group-info{
    width: 100%;
    text-align: left;
}

h1{
    color: #FCA311;
}

.date-user{
    display: flex;
    gap: 10px;
}

.group-info a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    border: 1px solid #FCA311;
    background-color: #FCA311;
    text-decoration: none;
    color: #14213D;

    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.group-info a:hover{
    background-color: transparent;
    letter-spacing: 3px;
}