.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    gap: 30px;
    margin-bottom: 30px;
}

.row:nth-child(even){
    flex-direction: row-reverse;
    text-align: left;
}

.text{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 25px;
    font-weight: bolder;
    color: #FCA311;
    margin-bottom: 20px;
    font-style: italic
}

.content{
    text-align: justify;
}

.image{
    width: 50%;
}

.image img{
    width: 100%;
    height: auto;
}

.start-learn{
    width: 50%;
    margin: 80px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px 0;
    border-radius: 10px;
    border: 2px solid #FCA311;
    background-color: #FCA311;
    color: #14213D;

    text-decoration: none;
    color: black;
    font-size: 30px;

    transition: 0.5s;
}

.start-learn:hover{
    background-color: transparent;    
    letter-spacing: 3px;
}

@media screen and (max-width: 1400px) {
    .row, .row:nth-child(even){
        flex-direction: column-reverse;
    }

    .text, .image{
        width: 100%;
    }

    .start-learn{
        width: 90%;
    }
}