.searchBox{
    width: 100%;

}

form{
    width: 100%;
    display: flex;
}

.search-h1{
    text-align: left;
}

.search-input, .search-button{
    border-radius: 0;
    padding: 15px;
    border: 1px solid #14213D;
}

.search-input{
    width: 100%;
}
input[type='submit']{
    border: none;
    background-color: #14213D;
    color: #D9D9D9;
}
.search-input:focus{
    outline: none;
}

/* ------------------------------------------------------------------------------ */

.search-result{
    display: flex;
    flex-direction: column;
}

.element{
    display: flex;
    gap: 30px;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid gray;
    padding: 30px 0;
}

.element:last-child{
    border: none;
}

.img{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}


.img img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.title{
    margin-top: 0;
    color: #FCA311;
}

.element-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #14213D;
}

.user{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    gap: 5px;
}

@media screen and (max-width: 686px){
    .element{
        flex-direction: column;
    }

    .img{
        width: 100%;
    }

    .img img{
        width: 100%;
    }
}