{% extends 'base.html' %}
{% load static %}

{% block page_title %} Login {% endblock %}
{% block links %} <link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endblock %}

{% block content %}
    <div class="app">
        <div class="logo">
            <img src="{% static 'foto/logo.png' %}" alt="logo">
        </div>
        <form action="" class="form" method="post">
            <h1>Zaloguj się</h1>
            {% if loginError %}
                <h3>Nieprawidłowe dane logowania</h3>
            {% endif %}
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" class="btn submit" value="Zaloguj się">
            <br>
            <a href="{% url 'flashcardApp:registration' %}">Stwórz konto</a>
        </form>
    </div>
{% endblock %}
